body{
    background-color: #efed40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: #efed40;
    width: max-content;
}
body {
  background-color: #efed40;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
.btn {
  background-color: blue;
  font-size: 16px;
  padding: 10px 10px;
  color: wheat;
}

.btn{
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    border: none;
}
